<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Reservas Sala de Reunião</h1>
  </div>
</header>

<p id="notice"><%= notice %></p>

<section id="services" class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <table>
        <thead>
          <tr>
            <th><h2>Data</h2></th>
            <th><h2>Hora</h2></th>
            <th><h2>Descrição</h2></th>
            <th><h2>Usuário</h2></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td style="padding: 20px;" ><%= booking.date %></td>
              <td style="padding: 20px;" ><%= booking.hour %></td>
              <td style="padding: 20px;" ><%= booking.description %></td>
              <td style="padding: 20px;"><%= booking.user.email %></td>
              <td style="padding: 20px;"><%= link_to 'Editar', edit_booking_path(booking) %></td>

              <td style="padding: 20px;"><%= link_to 'Excluir', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "#{t('buttons.new')}", new_booking_path, class: 'btn btn-primary btn-lg white' %>
    </div>
  </div>
</div>
</section>


